<!-- Main Navigation-->
<header>
  <!-- Jumbotron -->
  <div class="p-2 text-center bg-white border-bottom">
    <div class="container">
      <div class="row">
        <!-- Left elements -->
        <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
          <a href="#!" class="ms-md-2">
            <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="20" />
          </a>
        </div>
        <!-- Left elements -->

        <!-- Center elements -->
        <div class="col-md-4">
          <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0">
            <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search" />
            <span class="input-group-text border-0 d-none d-lg-flex">
              <i class="bi bi-search"></i>
            </span>
          </form>
        </div>
        <!-- Center elements -->

        <!-- Right elements -->
        <div class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center">
          <div class="d-flex">
            <nav class="header-nav ms-auto">
              <ul class="d-flex align-items-center">
                
                <li class="nav-item dropdown">
                  <a class="nav-link nav-icon" href="" data-bs-toggle="dropdown">
                    <i class="bi bi-heart"></i>
                    <span class="badge bg-danger badge-number">4</span>
                  </a><!-- End Wish Icon -->
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                      You have 3 cart items
                      <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <!-- --- LOOP -->
                    <li class="message-item">
                      <a href="#">
                        <img src="" alt="" class="rounded-circle">
                        <div>
                          <h4>Maria Hudson</h4>
                          <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                          <p>4 hrs. ago</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <!-- --- END LOOP -->
                    <li class="dropdown-footer">
                      <a href="#">Show all messages</a>
                    </li>
                  </ul><!-- End Wish Dropdown Items -->
                </li><!-- End Wish Nav -->
      
                <li class="nav-item dropdown">
                  <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-cart"></i>
                    <span class="badge bg-primary badge-number">3</span>
                  </a><!-- End Cart Icon -->
      
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                      You have 3 cart items
                      <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <!-- --- LOOP -->
                    <li class="message-item">
                      <a href="#">
                        <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                        <div>
                          <h4>Maria Hudson</h4>
                          <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                          <p>4 hrs. ago</p>
                        </div>
                      </a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <!-- --- END LOOP -->
                    <li class="dropdown-footer">
                      <a href="#">Show all messages</a>
                    </li>
                  </ul><!-- End cart Dropdown Items -->
                </li><!-- End Cart Nav -->
      
                <li class="nav-item dropdown">
                  <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-success badge-number">3</span>
                  </a><!-- End Notification Icon -->
      
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                      You have wish
                      <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <!-- --- LOOP -->
                    <li class="notification-item">
                      <i class="bi bi-exclamation-circle text-warning"></i>
                      <div>
                        <h4>Lorem Ipsum</h4>
                        <p>Quae dolorem earum veritatis oditseno</p>
                        <p>30 min. ago</p>
                      </div>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <!-- --- END LOOP -->
                    <li class="dropdown-footer">
                      <a href="#">Show all notifications</a>
                    </li>
                  </ul><!-- End Notifications Items -->
      
                </li><!-- End Notification Nav -->
      
                <li class="nav-item dropdown pe-3">
                  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="" alt="Profile" class="rounded-circle">
                      <!-- onerror="this.src='person-circle.svg';" -->
                    <span class="d-none d-md-block dropdown-toggle ps-2">AR</span>
                  </a><!-- End Profile Image Icon -->
      
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                      <h6>Kevin Anderson</h6>
                      <span>Web Designer</span>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
      
                    <li>
                      <a class="dropdown-item d-flex align-items-center" href="">
                        <i class="bi bi-person"></i>
                        <span>My Profile</span>
                      </a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
      
                    <li>
                      <a class="dropdown-item d-flex align-items-center" href="">
                        <i class="bi bi-gear"></i>
                        <span>Account Settings</span>
                      </a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
      
                    <li>
                      <a class="dropdown-item d-flex align-items-center" href="">
                        <i class="bi bi-question-circle"></i>
                        <span>Need Help?</span>
                      </a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
      
                    <li>
                      <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Sign Out</span>
                      </a>
                    </li>
      
                  </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
      
              </ul>
            </nav><!-- End Icons Navigation -->
          </div>

        </div>
        <!-- Right elements -->
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
    <!-- Container wrapper -->
    <div class="container justify-content-center justify-content-center">
      <ul class="navbar-nav d-flex flex-row align-items-center"
       *ngFor="let category of categoriesList;">
        <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
          <a class="nav-link" a routerLink="product-category/{{category.name}}" routerLinkActive="active">{{category.name}}</a>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->


</header>
<!--Main Navigation -->
